
/* Layout core parameters */

:root {
	--heading-lite:						#ffffff;
	--heading-dark:						#494d5f;
	--text-look-at-me:					#c60021;
	--playground-back:					#fcd0c2;
	--marker-red:                       #ffccdd;
	--marker-yellow:					#ffff66;	
	--marker-green:						#ccffdd;
	--delimiter-lite:					#ffccdd;
	--modal-dark:						#8076a3;
	
	--main-menu-font-size:				20px;
	--h1-font-size:						18pt;
	--h2-font-size:						16pt;
	--h3-font-size:						12pt;
	
	--header-margin-bottom:				40px;
	--footer-margin-top:				80px;
	
	--content-margin-left:         		15vw;
	--content-margin-right:          	15vw;
	--content-width:					70vw;
	
	--logo-img-width:					9vw;
	
	--section-margin-top:				20px;
	--section-margin-bottom:			20px;
	--section-header-height:			40px;
	
	--func-block-margin-top:       		15px;
	--func-block-margin-bottom:    		15px;
	--service-func-block-margin-top: 	30px;
	--area-border-radius:          		10px;
	
	--tag-margin-right:			   		0px;
	--tag-padding:                 		5px;
	--tag-border-radius:           		5px;
	
	--action-button-margin:	       		35px;
	
	--service-font-size:           		9pt;
}


/* Generic elements */

body {
	font-family: sans-serif;
}

div.genericPageContent {
	margin-left: 	var(--content-margin-left);
}


/* Page header */

#pageHeaderDiv {
	margin-bottom: 	var(--header-margin-bottom);
	vertical-align: middle;
	display: 		inline-flex;
}

#logoDiv {
	width: 			var(--content-margin-left);
}

#logoImg {
	width: 			var(--logo-img-width);
}

#contentHeaderDiv {
	width:			var(--content-width);
	min-height:		80pt;
	position: 		relative;
}

#scopeOfLearningDiv {
	width:			var(--content-width);
	display:		inline-flex;
}

#wordspaceTitleDiv {
	width:			fit-content;
	width:			-moz-fit-content;
	padding: 		5px;
	border-radius: 	var(--area-border-radius);
	background: 	var(--heading-dark);
	font-weight: 	bold;
	font-size: 		24pt;
	color: 			var(--heading-lite);
}

#scopeOfLearningDetailsDiv {
	margin-left: 	1em;
	font-size: 		14pt;
}

#levelSelectorLabel {
	margin-left: 	1em;
}

#levelSelectorSelect {
	font-weight: 	bold;
	font-size: 	 	14pt;
}

#lessonSelectorLabel {
	margin-left: 	1em;
}

#lessonSelectorSelect {
	font-weight: 	bold;
	font-size: 	 	14pt;
}

#mainMenuDiv {
	position: 		absolute;
    bottom: 		0px;
}

.mainMenuItem {
	margin-right: 		2em;
	font-size: 			var(--main-menu-font-size);
	font-weight: 		bold;
	text-decoration: 	underline;
	color: 				var(--text-look-at-me);
	cursor:				pointer;
}

#gameModeAreaDiv {
	margin-top:		var(--section-margin-top);
	margin-bottom:	var(--section-margin-bottom);
	margin-left: 	var(--content-margin-left);
}

#partOfSpeachSelectorLabel {
	margin-left: 		10px;
}


/* Process reporter */

#processReporterDiv {
	position: 		absolute;
	top: 			15hw;
	left: 			40vw;
	width: 			20vw;
	min-height: 	15hw;
	color: 			#ffffff;
	background: 	var(--modal-dark);
	padding: 		var(--area-border-radius);
	border-radius:	var(--area-border-radius);
	box-shadow: 	3px 3px gray;
}

.processInfo {
	margin-top: 	3px;
	margin-bottom: 	3px;
}


/* Sections */

div.section {
	margin-top:		var(--section-margin-top);
	margin-bottom:	var(--section-margin-bottom);
	margin-left: 	var(--content-margin-left);
	margin-right: 	var(--content-margin-right);
	width:			var(--content-width);
	display: 		inline-flex;
}

div.sectionClicker {
	display: 		table-cell;
	margin-left: 	-50px;
	width: 			50px;
	height:			var(--section-header-height);
	cursor: 		pointer;
}

img.sectionClicker {
	display: 		inline-block;
	width: 			40px;
	height: 		100%;
	vertical-align:	middle;
}

div.sectionBody {
	width: 			var(--content-width);
}

div.sectionHeader {
	display: 		table-cell;
	margin-bottom:	var(--func-block-margin-bottom);
	height: 		var(--section-header-height);
	vertical-align:	middle;
}

.sectionLabel {
	font-size:		var(--h2-font-size);
	font-weight:	bold;
	color: 			var(--heading-dark);
}

div.sectionContentArea {
	margin-top:		var(--func-block-margin-top);
}


/* Content area */

#contentArea {
	
}


/* Domain tag cloud */

#subjectDomainCloudDiv {
	text-align: 	left;
	line-height: 	24pt;
}

.tag0 {
	display: 		none;
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		6px;
}

.tag1 {
	display: 		none;
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		8px;
}

.tag2 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		10px;
}

.tag3 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		12px;
}

.tag4 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		14px;
}

.tag5 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		16px;
}

.tag6 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		18px;
}

.tag7 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		20px;
}

.tag8 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		22px;
}

.tag9 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		24px;
}

.tag10 {
	margin-right: 	var(--tag-margin-right);
	padding: 		var(--tag-padding);
	border-radius: 	var(--tag-border-radius);
	white-space: 	nowrap;
	cursor: 		pointer;
	font-size: 		26px;
}


/* Browsing word */

#wordAreaDiv {
	min-height: 	100px;
	margin-bottom: 	var(--func-block-margin-bottom);
	border-radius: 	var(--area-border-radius);
	padding: 		20pt;
	text-align: 	center;
	vertical-align: middle;
	background: 	var(--playground-back);
	font-size: 		76px;
}

#mnemoPhraseAreaDiv {
	font-size: 		40px;
}

span.hebrewWordInMnemoPhrase {
	background: 	#000000;
	color: 			#000000;
	font-weight: 	bold;
}

span.hebrewDisclosedWordInMnemoPhrase {
	background: 	var(--playground-back);
	color: 			var(--text-look-at-me);
	font-weight: 	bold;
}

#userActionPaneDiv {
	margin-top:    	var(--func-block-margin-top);
	text-align:		center;
}

#giveUpButtonImg {
	cursor:        pointer;
}

#showPromptButtonImg {	
	margin-left:   var(--action-button-margin);
	margin-right:  var(--action-button-margin);
	cursor:        pointer;
}

#takeNextQuestionButtonImg {
	cursor:        pointer;
}


/* Word list */

#wordListDiv {
	column-width: 		17em;
	column-count: 		auto;
	-moz-column-count: 	2;
	column-gap:   		2em;
	column-rule: 		4px double var(--delimiter-lite);
}

#wordListTable {
	width: 100%;
	border-collapse: 	collapse;
}

#wordListTable tr {
	break-inside: 		avoid;
}

#wordListTable tr td {
	border-bottom: 		1px dashed var(--delimiter-lite);
	break-inside: 		avoid;
}

#wordListTable tr td:nth-child(2) {
	padding-left: 		1em;
}

.wordListLink:link {
	text-decoration: 	none;
}

.wordListLink:hover, .wordListLink:active, .wordListLink:focus {
	text-decoration: 	underline;
}

#printButtonDiv {
	margin-top:			var(--func-block-margin-top);
	text-align: 		center;
}


/* Assembling wordspace links */

#extlinkCreateTableDiv {
	margin-bottom: 		30pt;
}

#extlinkSrcDiv {
	margin-bottom: 		30pt;
}

#extlinkLinkDiv {
	margin-bottom: 		30pt;
}

#extlinkInput {
	min-width: 			500pt;
	height: 			25px;
	padding: 			3px;
	box-shadow: 		none;
	border: 			1px solid #494d5f;
	border-radius: 		var(--area-border-radius);
}

#extlinkLinkSpan {
	float: 				left;
	min-width: 			500pt;
	height: 			25px;
	padding-left: 		3px;
	padding-top: 		6px;
	padding-bottom: 	0px;
	border-radius: 		var(--area-border-radius);
    background: 		#ffeedd;
	border: 			1px solid #494d5f;
	font-size: 			10pt;
}

#extlinkClearImg {
	width: 25px;
	vertical-align: middle;
	cursor: pointer;
}

#extlinkCopyButtonImg {
	width: 25px;
	margin-left: 5px;
	vertical-align: middle;
	padding-top: 3px;
	cursor: pointer;
}


/* Longreads */

h1 {
	font-size: 		var(--h1-font-size);
	font-weight: 	bold;
	color: 			var(--heading-dark);
	
}

h2 {
	font-size: 		var(--h2-font-size);
	font-weight: 	bold;
	color: 			var(--heading-dark);
}


/* Footer */

#footerDiv {
	margin-top:			var(--footer-margin-top);
	margin-left: 		var(--content-margin-left);
	font-size:   		var(--service-font-size);
}

.footerMenuItem {
	margin-right: 		2em;
	font-weight: 		bold;
	text-decoration: 	underline;
	cursor: 			pointer;
	color: 				var(--text-look-at-me);
}

#uiLangSeletorDiv {
	margin-top:			var(--service-func-block-margin-top);
}

#uiLangSelectorSelect {
	font-size:   		var(--service-font-size);
	margin-left:		10px;
}

#sysVersionAreaDiv {
	margin-top:			var(--footer-margin-top);
	margin-left: 		var(--content-left-margin);
}





/*



#mainGroupOfPanesDiv {
	margin-left: var(--content-left-margin);
}

#gameAreaDiv {
	height: 70%;
	--margin-bottom: 10%;
	margin-right: 10%;
	border-radius: 10px;
	--text-align: center;
}

#gameModeArea {
	text-align: left;
	margin-bottom: var(--func-block-bottom-margin);
	border-radius: var(--area-border-radius);
}

#subjectDomainCloudSwitchDiv {
	text-align: left;
	cursor: pointer;
}



.showHideImg {
	vertical-align: middle;
	width: 2em;
	
}

.showHideLabel {
	height: 2em;
	
}



#lessonSelectorArea {
	margin-top:    var(--func-block-top-margin);
	margin-bottom: var(--func-block-bottom-margin);
}

#fromToSelectorsArea {
	margin-top:    var(--func-block-top-margin);
	margin-bottom: var(--func-block-bottom-margin);	
}

#fromToArrowSpan {
	font-size: 12pt;
}



#wordListBlockDiv {
	margin-top:    var(--func-block-top-margin);
	margin-bottom: var(--last-func-block-bottom-margin);
}

#wordListHeadlineDiv {
	margin-top:    var(--func-block-top-margin);
	margin-bottom: var(--func-block-bottom-margin);
}

#wordListSwitchSpan {
	cursor: pointer;
}





#printButtonImg {
	margin-top: 10px;
	width: 50px;
	cursor: pointer;
}


}







 */