
/* Layout core parameters */

:root {
	--heading-lite:						#ffffff;
	--heading-dark:						#494d5f;
	--text-look-at-me:					#c60021;
	--playground-back:					#fcd0c2;
	--marker-red:                       #ffccdd;
	--marker-yellow:					#ffff66;	
	--marker-green:						#ccffdd;
	--delimiter-lite:					#ffccdd;
	--modal-dark:						#8076a3;
	
	--main-menu-font-size:				20px;
	--h1-font-size:						18pt;
	--h2-font-size:						16pt;
	--h3-font-size:						12pt;
	
	--header-margin-bottom:				20px;
	--footer-margin-top:				40px;
	
	--content-margin-left:         		15vw;
	--content-margin-right:          	15vw;
	--content-width:					70vw;
	
	--logo-img-width:					9vw;
	
	--section-margin-top:				15px;
	--section-margin-bottom:			15px;
	--section-header-height:			40px;
	--section-content-margin-top:		10px;
	
	--func-block-margin-top:       		15px;
	--func-block-margin-bottom:    		15px;
	--service-func-block-margin-top: 	30px;
	--area-border-radius:          		10px;
	
	--tag-margin-right:			   		0px;
	--tag-padding:                 		5px;
	--tag-margin-left:					-5px;
	--tag-border-radius:           		5px;
	
	--action-button-margin:	       		35px;
	
	--service-font-size:           		9pt;
}


/* Generic elements */

body {
	overflow-x: 		hidden;
	font-family: 		sans-serif;
}

div.genericPageContent {
	margin-left: 		var(--content-margin-left);
	width:				var(--content-width);
	line-height:		18pt;
}

table {
	border-bottom:		3px double var(--delimiter-lite);
}

table tr th {
	border-bottom:		3px double var(--delimiter-lite);
	text-align:			left;
}

table tr th, table tr td {
	padding-right:		1em;
	vertical-align:		top;
}	

td ul {
	padding-left:		1em;
}

.labelAndControl {
	margin-right:		1em;
	white-space: 		var(heading-dark);
}

.fieldLabel {
	margin-right:		0.5em;
	font-weight: 		bold;
}


/* Page header */

#pageHeaderDiv {
	margin-bottom: 		var(--header-margin-bottom);
	vertical-align: 	middle;
	display: 			inline-flex;
}

#logoDiv {
	width: 				var(--content-margin-left);
}

#logoImg {
	width: 				var(--logo-img-width);
}

#contentHeaderDiv {
	width:				var(--content-width);
	min-height:			80pt;
	position: 			relative;
}	

#scopeOfLearningDiv {
	width:				var(--content-width);
	display:			inline-flex;
}

#wordspaceTitleDiv {
	width:				fit-content;
	width:				-moz-fit-content;
	padding: 			5px 1em 5px 1em;
	border-radius: 		var(--area-border-radius);
	background: 		var(--heading-dark);
	text-align:			center;
	font-weight: 		bold;
	font-size: 			24pt;
	color: 				var(--heading-lite);
}

#providerRefDiv {
	margin-top:			5px;
	font-family:		serif;
	font-size: 			var(--service-font-size);
	font-weight:		bold;
	font-style:			italic;
	color:				var(--heading-dark);
}

.providerRef:link, .providerRef:visited {
	color:				var(--heading-dark);
	text-decoration: 	none;
}

.providerRef:hover, .wordListLink:active, .wordListLink:focus {
	color:				var(--heading-dark);
    text-decoration: 	underline;
}

#scopeOfLearningDetailsDiv {
	margin-left: 		1em;
	font-size: 			14pt;
}

#levelSelectorSelect {
	font-weight: 		bold;
	font-size: 	 		14pt;
}

#lessonSelectorSelect {
	font-weight: 		bold;
	font-size: 	 		14pt;
}

#mainMenuDiv {
	margin-top:			var(--main-menu-font-size);
}

.mainMenuItem {
	margin-right: 		2em;
	font-size: 			var(--main-menu-font-size);
	font-weight: 		bold;
	text-decoration: 	underline;
	color: 				var(--text-look-at-me);
	cursor:				pointer;
}

#gameModeAreaDiv {
	margin-top:			var(--section-margin-top);
	margin-bottom:		var(--section-margin-bottom);
	margin-left: 		var(--content-margin-left);
}


/* Process reporter */

#processReporterDiv {
	position: 			absolute;
	top: 				10hw;
	left: 				40vw;
	width: 				20vw;
	min-height: 		15hw;
	color: 				#ffffff;
	background: 		var(--modal-dark);
	padding: 			var(--area-border-radius);
	border-radius:		var(--area-border-radius);
	box-shadow: 		3px 3px gray;
}

#processReporterTitle {
	color:			var(--marker-yellow);
}

.processInfo {
	margin-top: 		3px;
	margin-bottom: 		3px;
}


/* Sections */

div.section {
	margin-top:			var(--section-margin-top);
	margin-bottom:		var(--section-margin-bottom);
	margin-left: 		var(--content-margin-left);
	margin-right: 		var(--content-margin-right);
	width:				var(--content-width);
	display: 			inline-flex;
}

div.sectionClicker {
	display: 			table-cell;
	margin-left: 		-50px;
	width: 				50px;
	height:				var(--section-header-height);
	cursor: 			pointer;
}

img.sectionClicker {
	display: 			inline-block;
	width: 				40px;
	height: 			100%;
	vertical-align:		middle;
}

div.sectionBody {
	width: 				var(--content-width);
}

div.sectionHeader {
	display: 			table-cell;
	margin-bottom:		var(--func-block-margin-bottom);
	height: 			var(--section-header-height);
	vertical-align:		middle;
}

.sectionLabel {
	font-size:			var(--h2-font-size);
	font-weight:		bold;
	color: 				var(--heading-dark);
}

div.sectionContentArea {
	margin-top:			var(--section-content-margin-top); 
}


/* Content area */

#contentArea {
	
}


/* Word selectors */

#wordSelectorsArea {
	margin-bottom:		var(--func-block-margin-bottom);
}


/* Domain tag cloud */

#subjectDomainCloudDiv {
	margin-top:			var(--func-block-margin-top);
	margin-left:		var(--tag-margin-left);
	text-align: 		left;
	line-height: 		24pt;
	
}

.tag0 {
	display: 			none;
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			6px;
}

.tag1 {
	display: 			none;
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius:	 	var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			8px;
}

.tag2 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			10px;
}

.tag3 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			12px;
}

.tag4 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			14px;
}

.tag5 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			16px;
}

.tag6 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			18px;
}

.tag7 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			20px;
}

.tag8 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			22px;
}

.tag9 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			24px;
}

.tag10 {
	margin-right: 		var(--tag-margin-right);
	padding: 			var(--tag-padding);
	border-radius: 		var(--tag-border-radius);
	white-space: 		nowrap;
	cursor: 			pointer;
	font-size: 			26px;
}


/* Browsing word */

#wordAreaDiv {
	min-height: 		80px;
	margin-bottom: 		var(--func-block-margin-bottom);
	border-radius: 		var(--area-border-radius);
	padding: 			15pt;
	text-align: 		center;
	vertical-align: 	middle;
	background: 		var(--playground-back);
	font-size: 			60px;
}

#mnemoPhraseAreaDiv {
	font-size: 			32px;
}

span.hebrewWordInMnemoPhrase {
	background: 		#000000;
	color: 				#000000;
	font-weight: 		bold;
}

span.hebrewDisclosedWordInMnemoPhrase {
	background: 		var(--playground-back);
	color: 				var(--text-look-at-me);
	font-weight: 		bold;
}

#userActionPaneDiv {
	margin-top:    		var(--func-block-margin-top);
	text-align:			center;
}

#giveUpButtonImg {
	cursor:        		pointer;
}

#showPromptButtonImg {	
	margin-left:   		var(--action-button-margin);
	margin-right:  		var(--action-button-margin);
	cursor:        		pointer;
}

#takeNextQuestionButtonImg {
	cursor:        		pointer;
}


/* Word list */

#wordListDiv {
	column-width: 		17em;
	column-count: 		auto;
	-moz-column-count: 	2;
	column-gap:   		2em;
	column-rule: 		4px double var(--delimiter-lite);
}

#wordListTable {
	width: 100%;
	border-collapse: 	collapse;
}

#wordListTable tr {
	break-inside: 		avoid;
}

#wordListTable tr td {
	border-bottom: 		1px dashed var(--delimiter-lite);
	break-inside: 		avoid;
}

#wordListTable tr td:nth-child(2) {
	padding-left: 		1em;
}

.wordListLink:link {
	text-decoration: 	none;
}

.wordListLink:hover, .wordListLink:active, .wordListLink:focus {
	text-decoration: 	underline;
}

#printButtonDiv {
	margin-top:			var(--func-block-margin-top);
	text-align: 		center;
}


/* Assembling wordspace links */

#extlinkCreateTableDiv {
	margin-bottom: 		30pt;
}

#extlinkSrcDiv {
	margin-bottom: 		30pt;
}

#extlinkLinkDiv {
	margin-bottom: 		30pt;
}

#extlinkInput {
	min-width: 			500pt;
	height: 			25px;
	padding: 			3px;
	box-shadow: 		none;
	border: 			1px solid #494d5f;
	border-radius: 		var(--area-border-radius);
}

#extlinkLinkSpan {
	float: 				left;
	min-width: 			500pt;
	height: 			25px;
	padding-left: 		3px;
	padding-top: 		6px;
	padding-bottom: 	0px;
	border-radius: 		var(--area-border-radius);
    background: 		#ffeedd;
	border: 			1px solid #494d5f;
	font-size: 			10pt;
}

#extlinkClearImg {
	width: 				25px;
	vertical-align: 	middle;
	cursor: 			pointer;
}

#extlinkCopyButtonImg {
	width: 				25px;
	margin-left: 		5px;
	vertical-align: 	middle;
	padding-top: 		3px;
	cursor: 			pointer;
}


/* Longreads */

h1 {
	font-size: 			var(--h1-font-size);
	font-weight: 		bold;
	color: 				var(--heading-dark);
	
}

h2 {
	font-size: 			var(--h2-font-size);
	font-weight: 		bold;
	color: 				var(--heading-dark);
}


/* Wordspace directory */

table.wordspaceDirectory {
	border-bottom:		3px double var(--delimiter-lite); 
	border-collapse:	collapse;
	font-size:			10pt;
}

table.wordspaceDirectory th {
	border-bottom:		3px double var(--delimiter-lite); 
	padding:			3pt 2em 3pt 0em;
	text-align:			left;
	color:				var(--heading-dark);

}

table.wordspaceDirectory td {
	border-bottom:		1px solid var(--delimiter-lite); 
	padding:			3pt 2em 3pt 0em;

}


/* Footer */

#footerDiv {
	margin-top:			var(--footer-margin-top);
	margin-left: 		var(--content-margin-left);
	font-size:   		var(--service-font-size);
}

.footerMenuItem {
	margin-right: 		2em;
	font-weight: 		bold;
	text-decoration: 	underline;
	cursor: 			pointer;
	color: 				var(--text-look-at-me);
}

#uiLangSeletorDiv {
	margin-top:			var(--service-func-block-margin-top);
}

#uiLangSelectorSelect {
	font-size:   		var(--service-font-size);
	margin-left:		10px;
}

#sysVersionAreaDiv {
	margin-top:			var(--footer-margin-top);
	margin-left: 		var(--content-left-margin);
}
